body {
    font-family: Helvetica, Arial, sans-serif;
    color: #393939;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin: 20px;
}

p#paraDynamicContent {
    border: 1px solid #393939;
    padding: 20px;
    margin: 30px auto;
    width: 50%;
    font-size: 18px;
    display: none;
}

